{% extends "GestionBundle::layout.html.twig" %}

{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('bootstrap/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<h3><span class="glyphicon glyphicon-pencil"></span> Ajouter Entrée</h3>
	{{ form_start(form, {'attr': {'class': 'form-horizontal col-md-8'}}) }}
	    {% include "GestionBundle:Entree:form.html.twig" %}
	    <div class="form-group">
	      <div class="col-md-offset-5 col-md-7">
	        <button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
	        <a href="{{ path('entree_index') }}" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Retourner vers la liste</a>
	      </div>
	    </div>
	{{ form_end(form) }}
{% endblock body %}

{% block javascripts %}
{{ parent() }}

    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-datetimepicker.js') }}"></script> 
    <script> 
    (function($) {
        $('select').removeClass('form-control').select2();
        $('.has-datepicker').attr('data-date-format', 'YYYY-MM-DD').parent().datetimepicker({
          pickTime: false
        });
    })(jQuery);
</script>
{% endblock %}
