{% extends "GestionBundle::layout.html.twig" %}

{% block title %}
    Catégorie edit | {{ parent() }}
{% endblock %}

{% block body %}
    <h3><span class="glyphicon glyphicon-edit"></span> Modifier Discipline</h3>
    {{ form_start(form, {'attr': {'class': 'form-horizontal col-md-8'}}) }}
        {% include "GestionBundle:Categorie:form.html.twig" %}
        <div class="form-group">
          <div class="col-md-offset-5 col-md-7">
            <button type="submit" name="subvalider" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Modifier</button>
            <a href="#" id="js-delete" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>
            <a href="{{ path('categorie_index') }}" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span> Retourner vers la liste</a>
          </div>
        </div>
    {{ form_end(form) }}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}