{% extends "GestionBundle::layout.html.twig"%}

{% block title %}
    Suppression  | {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
                <h2>Suppression de la sortie</h2>
                <p>
                    Etes-vous certain de vouloir supprimer la sortie "{{ entity.code }}" ?
                </p>

                <form action="{{ path('sortie_delete', {'id': entity.id}) }}" method="post">
                    <a href="{{ path('sortie_view', {'id': entity.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-chevron-left"></i>Retour</a>
                    
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                    {# Ceci va générer le champ CSRF #}
                    {{ form_rest(form) }}
                </form>
        </div>
    </div>
{% endblock %}